extends layout

block content
  .row 
    .small-12.columns
      .row
        h2 All Users
      for user in users
        .row.panel.eachUser(name= '#{user.name}')
          a(href='/friendProfile/#{user.name}')
            .small-2.columns
              img(src='default_prof.jpg', width='60', height='60')
            .small-10.columns
              h5 #{user.name}


  script.
    $('.eachUser').click(function(){
      console.log($(this).attr('name'));
      window.location = 'friendProfile/'+$(this).attr('name');
    })
