extends layout

block content
  script.
    filepicker.setKey('AG4iSyAFR1ix7zdHsvAtKz');
  .row
    .small-12.columns
      .small-6.columns
        h3 Create a New Drink
      .small-6.columns
        a(href = '#')
          .button#saveDrink Save Drink
          
  .row
    .small-6.columns
      form#drinkForm
        .row
          .small-12.columns
            h5 Drink Name
        .row
          .small-12.columns
            input#drinkname(type='text', placeholder = 'Rum and Coke');
        .row
          .small-6.columns
            h5 Cost
          .small-6.columns
            h5 Price
        .row
          .small-6.columns
            input#cost(type='text', placeholder = '1.5');
          .small-6.columns
            input#price(type='text', placeholder = '3');
        .row
          .small-7.columns
            h5 Ingredients
          .small-3.columns
            h5 Units
          .small-1.columns
            &nbsp;

        .row#Ingredients
          .small-7.columns
            select#ingredient1
              for liquid in liquids
                option #{liquid.name}
          .small-3.columns
            input#units1(type='text', placeholder = '1');
          .small-1.columns
            .button.small.addLiquid +
          .small-1.columns
            &nbsp;

        .row#currentIngredients
    .small-6.columns
      div#dropPane
        div#dropPane-name Drop Image Here

  script.
    var newDrink = {
      ingredientList: []
    }
    $('.addLiquid').click(function(){
      $('#currentIngredients').append('<div class="row"><div class="small-12 columns"><div data-alert class="alert-box secondary ingredients" name="'+ $('#ingredient1').val() +'" unit="' + $('#units1').val() + '">'+ $('#ingredient1').val() +' (' + $('#units1').val() + ') <a href="#" class="close">&times;</a></div></div></div>');
      $('#ingredient1').prop('selectedIndex',0);
      $('#units1').val('');
    });

    $('#saveDrink').click(function(){
      $('.ingredients').each(function(){
        newDrink.ingredientList.push({name: $(this).attr('name'), units: $(this).attr('unit')});
      });
      newDrink.name = $('#drinkname').val();
      newDrink.cost = $('#cost').val();
      newDrink.price = $('#price').val();
      $.ajax({
        url: '/saveDrink',
        type: 'POST',
        data: {'newDrink': newDrink},
        dataType: 'json',
        success: function(data) {
          if (typeof data.redirect == 'string') {
            window.location = data.redirect
          }
        }
      });
      return false;
    });

    filepicker.makeDropPane($('#dropPane'), {
      multiple: true,
      dragEnter: function(){
        $('#dropPane').html("Drop to Upload").css({
          'backgroundColor': '#E0E0E0',
          'border': '1px solid #000',
          'height': '100%',
          'min-height': '1em',
          'position': 'relative',
          'height': '2em',
          'text-align': 'center',
          'padding-top': '2%',          
        });
      },
      dragLeave: function() {
        $('#dropPane').html("Drop Image Here").css({
            'background-color': '#F6F6F6',
            'border': '1px solid #666',
            'height': '100%',
            'min-height': '1em',
            'position': 'relative',
            'height': '2em',
            'text-align': 'center',
            'padding-top': '2%',
        });
      },
      onSuccess: function(InkBlobs){
        newDrink.image = InkBlobs[0].url+'/convert?w=203&h=306&fit=scale';
        newDrink.imageSmall = InkBlobs[0].url+'/convert?w=61&h=92&fit=scale';
      },
      onProgress: function(percentage){
        $('#dropPane').text('Uploading ('+percentage+'%)');
      },
      acess: 'public'
    });