extends layout

block content
  .row
    .small-12.columns
      .small-6.columns
        h3 Create a New Drink
      .small-6.columns
        a(href = '#')
          .button#saveDrink Save Drink
          
  .row
    .small-12.columns
      form#drinkForm
        .row
          .small-6.columns
            h5 Drink Name
          .small-3.columns
            h5 Cost
          .small-3.columns
            h5 Price
        .row
          .small-6.columns
            input#drinkname(type='text', placeholder = 'Rum and Coke');
          .small-3.columns
            input#cost(type='text', placeholder = '1.5');
          .small-3.columns
            input#price(type='text', placeholder = '3');
        .row
          .small-6.columns
            h5 Image Large
          .small-6.columns
            h5 Image Small
        .row
          .small-6.columns
            input#picLarge(type='text', placeholder= 'Large image filename');
          .small-6.columns
            input#picSmall(type='text', placeholder= 'Small image filename');
        .row
          .small-3.columns
            h5 Ingredients
          .small-2.columns
            h5 Units
          .small-7.columns
            &nbsp;

        .row#Ingredients
          .small-3.columns
            select#ingredient1
              for liquid in liquids
                option #{liquid.name}
          .small-1.columns
            input#units1(type='text', placeholder = '1');
          .small-4.columns
            .button.small.addLiquid +
          .small-4.columns
            &nbsp;

        .row#currentIngredients

  script.
    var newDrink = {
      ingredientList: []
    }
    $('.addLiquid').click(function(){
      $('#currentIngredients').append('<div class="row"><div class="small-12 columns"><div data-alert class="alert-box secondary ingredients" name="'+ $('#ingredient1').val() +'" unit="' + $('#units1').val() + '">'+ $('#ingredient1').val() +' (' + $('#units1').val() + ') <a href="#" class="close">&times;</a></div></div></div>');
      $('#ingredient1').prop('selectedIndex',0);
      $('#units1').val('');
    });

    $('#saveDrink').click(function(){
      $('.ingredients').each(function(){
        newDrink.ingredientList.push({name: $(this).attr('name'), units: $(this).attr('unit')});
      });
      newDrink.name = $('#drinkname').val();
      newDrink.cost = $('#cost').val();
      newDrink.price = $('#price').val();
      newDrink.image = '/images/' + $('#picLarge').val();
      newDrink.imageSmall = '/images/' + $('#picSmall').val();
      $.ajax({
        url: '/saveDrink',
        type: 'POST',
        data: {'newDrink': newDrink},
        dataType: 'json',
        success: function(data) {
          if (typeof data.redirect == 'string') {
            window.location = data.redirect
          }
        }
      });
      return false;
    });