extends layout

block content
  if (topDrinks)
    .row
      .small-12.columns
        .slideshow-wrapper
          .preloader
          ul(data-orbit='data-orbit')#featured1
            for drink in topDrinks
              li
                .row
                  .small-12.columns#wrap-img
                    img(src=drink.image)
                .orbit-caption #{drink.name} $#{drink.price}
  .row
    .small-12.columns
      include showDrink

  script.
    // var socket = io.connect('localhost');
    $('.order').click(function(){
      console.log($(this).attr('data-caption'));
      $.post('/orderDrink', {drinkOrdered: $(this).attr('data-caption')})
      return false;
    })  
    $(document).foundation('orbit', {
      animation: 'fade',
      timer_speed: 500,
      pause_on_hover: true,
      resume_on_mouseout: true,
      animation_speed: 500,
      stack_on_small: true,
      navigation_arrows: true,
      slide_number: true,
      container_class: 'orbit-container',
      stack_on_small_class: 'orbit-stack-on-small',
      next_class: 'orbit-next',
      prev_class: 'orbit-prev',
      timer_container_class: 'orbit-timer',
      timer_paused_class: 'paused',
      timer_progress_class: 'orbit-progress',
      slides_container_class: 'orbit-slides-container',
      bullets_container_class: 'orbit-bullets',
      bullets_active_class: 'active',
      slide_number_class: 'orbit-slide-number',
      caption_class: 'orbit-caption',
      active_slide_class: 'active',
      orbit_transition_class: 'orbit-transitioning',
      bullets: true,
      timer: true,
      variable_height: false,
      before_slide_change: function(){},
      after_slide_change: function(){}
    });