br
.row
  .small-12.columns
    a#sidebarButton.sidebar-button.show-for-small(href="#sidebar")
      ul.inline-list
        li
          if (friend)
            img(src='../images/menu.png')
          else
            img(src='/images/menu.png')
        li
          h4 Shwastinator